* {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #808080;
}

.blogTopics {
    border: 1px solid #dedede;
    padding: 60px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.content {
    margin-top: 30px;  
}

p, div {
    word-wrap: break-word; /*自动换行*/
    word-break: break-all; /*英文单词断行*/
}

.content pre {
    overflow-x: auto;
}

    .content pre code {
    }

.blogTopics .postTitle {
    color: #555454;
    font-size: 23px;
    text-align: center;
}
pre {
    margin-bottom:5px;
    margin-top:3px;
    border-left:3px solid #fbd7b0;
    padding-left:5px;
    background-color: #f6f6f6;    
}
/*笔记本*/
@media(max-width:1366px) {
}

/*ipad pro*/
@media(max-width:1024px) {
    .blogTopics {
        margin-left: 1%;
        margin-right: 1%;
        padding: 6px;
    }

    img {
        max-width: 500px;
    }
}
/*移动端*/
@media(max-width:992px) {
    img {
        max-width: 350px;
    }

    pre ,pre *{
        font-size:12px;
    }
}
