* {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
}

.navbar {
    padding: 15px;
    border-bottom: 1px solid #dedede;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9;
}

    .navbar a {
        color: #808080;
        text-decoration: none;
        margin-left: 15px;
    }

    .navbar span.mesg {
        font-size: 14px;
        margin-left: 5px;
        color: #ff6a00;
    }

.navbar-left {
    float: left;
    margin-left: 5px;
}

.navbar-right {
    float: right;
    margin-right: 5px;
}

.blogList {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 30px;
}

    .blogList li {
        list-style-type: none;
        padding: 10px;
        border: 1px solid #dedede;
    }

        .blogList li:nth-child(n+2) {
            border-top: initial;
        }

    .blogList a {
        color: #428bca;
        text-decoration: none;
    }

.hiLabel {
    position: fixed;
    bottom: 20px;
    left: 60px;
    max-width: 200px;
    max-height: 400px;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}

    .footer a {
        text-decoration: none;
        display:inline-block;
        padding:10px;
    }
/*笔记本*/
@media(max-width:1366px) {
    .hiLabel {
        left: 20px;
    }
}
/*ipad pro*/
@media(max-width:1024px) {
    .hiLabel {
        display: none;
    }

    .blogList {
        margin-left: 1%;
        margin-right: 1%;
    }
}
/*移动端*/
@media(max-width:992px) {
    .navbar-right, .navbar-left .mesg {
        display: none;
    }

    .navbar a.navbar-brand {
        margin-left: 0px;
    }

    .navbar-right-phone {
        display: initial;
        float: right;
    }
}
